h1 {
    color: #28a4c9;
}

form {
    width: 100%;
}

#ferdig {
    float: right;
}
#nyttSpm{
    font-size: small;
    background-color: white;
}

html {
    display: table;
    margin: auto;
}

body {
    display: inline-block;
    vertical-align: middle;
}

#nick{
    float: left;
}

#bilde{
    max-width: 200px;
    max-height: 200px;
}



